body {
    background: white;
    font-family: 'Bangers';
}

header {
    text-align: center;
    padding: 200px;
    background: url(https://www.dropbox.com/s/gvz2bxyb3lrogpm/stuart-guest-smith-150560.jpg?raw=1) no-repeat;
    background-size: cover;
}
.icon {
    color: white;
}

.social {
    list-style-type: none;
}

.social li {
    display: inline;
    margin-right: 20px;
}

/* LAYOUT */
#about {
    text-align: center;
    margin: 20px
}
#about .about-content {
    margin: 20px 50px;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
}
.about-photo {
    height: 200px;
    border-radius: 100%;
    box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#projects {
   margin: 50px 20px 0;
    
}
.project-header {
    text-align: center;
    margin: 30px;
}
.card {
    margin-bottom: 20px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

#contact {
    text-align: center;
    margin: 20px 170px
}

footer {

    padding: 5px;
    text-align: center;
  
}

/* Media Queries*/

@media (max-width: 500px) {
    header {
        padding: 30px
    }
    
    .social {
        padding: 10px;
    }

    #contact {
        margin: 20px
    }
    
    #projects {
        margin: 80px;  
    
    }
    
    p {
        font-size: 20px
    }
    
}

/* Psuedo Code*/
a:link {
    color: darkorange
}


    
   
