body {
    background: white;
    font-family: 'Coiny', cursive;
}


header {
  background: linear-gradient(#bed9eb, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
             #2070e1
        url(https://www.dropbox.com/s/9xrmoshmm27381r/sam-wheeler-2304-unsplash.jpg?raw=1);
    background-size: cover;
    height: 550px;
    text-align: center;
    font-family: 'Coiny', cursive;
}


header ul {
    list-style-type: none;
     margin-right: 20px;
}

header ul li {
    display: inline-block;
    margin: 10px;
   
}

.icon {
    color: white;
}

.vector-icon {
    font-size: 50px;
}

.profile-pic {
    height: 250px;
    width: 250px;
    border-radius: 80%;
    box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 20px;
  
}

#about {
    text-align: center;
    font-family: 'Coiny', cursive;
}

.about-text {
    margin-top: 50px;
}
#about ul li {
    display: inline-block;
    margin: 10px;
}

.fa-css3-alt {
    color: orange;
}

.fa-html5 {
    color: yellow;
}

.fa-wordpress {
    color: green;
}

.fa-php {
    color: blue
}

.icon-bootstrap {
    color: rebeccapurple;
}

.icon-ruby {
    color: red;
}

#skills {
    text-align: center;
    font-family: 'Coiny', cursive;
}
.card {
    text-align: center;
    margin-top: 20px;
     box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#projects {
    text-align: center;
    margin-top: 40px;
    font-family: 'Coiny', cursive;
}


#contact {
    text-align: center;
    margin-top: 40px;
    font-family: 'Coiny', cursive;
}

.contact-text {
    margin-top: 10px;
}

footer {
    color: #2070e1;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
     background: linear-gradient(#bed9eb, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
             #2070e1
        url(https://www.dropbox.com/s/9xrmoshmm27381r/sam-wheeler-2304-unsplash.jpg?raw=1);
    background-size: cover;
     font-family: 'Coiny', cursive;
}

a:link {
    color: #2070e1;
}

/* Media Queries*/

@media (max-width: 365px) {
    .about-text {
        margin-top: 100px;
    }
}
