header {
    background: url(https://www.dropbox.com/s/vz4jpuvv1uf5wdo/joseph-barrientos-93565-unsplash.jpg?raw=1);
    background-size: cover;
    text-align: center;
    color: white;
    padding: 150px;
    
}

ul {
    list-style-type: none;
}

ul li {
    display: block;

}

header .signup {
    color: white;
}

form {
    margin-top: 100px
}

input {
   margin-left: 200px;

}

.find {
    margin-right: 110px;
}

#details {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    height: 150px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 40px;
    margin-bottom: 20px;

}

.info {
    margin-top: 50px;
}

#destinations {
    text-align: center;
    margin-top: 50px;
}

.card {
    box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.des1 {
    margin-top: 280px;
}

.des2 {
    margin-top: 755px
}

.des3 {
    margin-top: 380px;
}
.des4 {
    margin-top: 190px;
}
.des5 {
    margin-top: 210px;
}

#hero {
    background: url(https://www.dropbox.com/s/e17zry962qsx4de/little-john-482458-unsplash.jpg?raw=1);
    background-size: cover;
    padding: 150px;
    text-align: center;
    color: white;

}

#featured {
    text-align: center;
}

.featured-text {
    margin-top: 210px;
}

.social-media {
    float: left;
    margin-left: 40px
}

footer {
    text-align: center;
    
}

/* Media Queries */




@media (max-width: 1024px) {
    input {
        margin-left: 100px;
    }
    .find {
        margin-left: 30px;
      
    }
    .des1 {
        margin-top: 240px;
        font-size: 15px;

    }
    .des2 {
        margin-top: 620px;
        font-size: 15px;
    }
    .des3 {
        margin-top: 310px;
        font-size: 15px;
    }
    .des4 {
        margin-top: 150px;
        font-size: 15px;
    }
    
    .des5 {
        margin-top: 170px;
        font-size: 15px;
    }
    .featured-text {
        margin-top: 160px;
    }
    
    .social-media {
    float: left;
    margin-left: 30px;
}

}

@media (max-width: 375px) {
    header {
        padding: 20px;
    }
    
    input {
        margin-left: 0px;
    }
    
    .find {
    margin-left: 95px;
        margin-top: 10px
    }
    
    #details {
        margin: 10px;
        height: 250px
    }
    
    #destinations .container .row .col {
        padding: 0px;
    }
    
    .des1 {
        margin-right: 0px;
        font-size: 15px;

    
    }
    .des2 {
        margin-top: 470px;
        font-size: 15px;
    }
    
    .des3 {
        margin-top: 380px;
        font-size: 15px;
    }
    
    .des4 {
        margin-top: 180px;
        font-size: 15px
    }
    
    .des5 {
        margin-top: 190px;
        font-size: 15px;
    }
    #hero {
        padding: 20px
    }
    
    .featured-text {
        margin-top: 120px;
    }
    
    #featured .container .row .col {
        padding: 0px;

    }
    
img
{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

   
}

@media (max-width: 414px) {
    header {
        padding: 20px;
    }
    
    input {
        margin: 10px
    }
    .des1 {
        margin-top: 190px;
    }
    
    .des2 {
        margin-top: 520px;
    }
    
    .des3 {
        margin-top: 420px;
    }
    
    .des4 {
        margin-top: 200px
    }
    
    .des5 {
        margin-top: 220px;
    }
    
    .featured-text {
        margin-top: 120px;
    }
    
    .find {
        margin-left: 90px
    }
    
    .social-media {
        margin: 20px
    }
    
    #details {
        height: 250px;
        width: 350px;
       
    }
    img
{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}
    #hero {
        padding: 20px;
    }
    
    .card {
        margin-bottom: 20px
    }
    
    #details {
        margin-left: 30px;
    }
}

